<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .wrapper {
            width: 100%;
            height: 100%;

        }

        .filler1 {
            width: 100%;
            height: 25%;
        }

        .login-content {
            margin: auto;
            padding: 10px;
            border-style: groove;
            border-radius: 16px;
            width: fit-content;
            /*height: 50%;*/
        }

        .text {
            text-align: center;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .col {
            padding: 10px;
            flex: 50%;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="filler1"></div>
    <div class="login-content">
        {% if error %}
            <p class="text">{{ error }}</p>
        {% else %}
            <p class="text">Hello</p>
        {% endif %}
        <form action="/register" method="post">
            <label for="name">name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="username">username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">password:</label>
            <input type="password" id="password" name="password"><br><br>
            <div class="row">
                <div dir="rtl" class="col">
                    <input type="button" onclick="location.href='/login';" value="login"/>
                </div>
                <div class="col">
                    <input type="submit" value="register">
                </div>
            </div>
        </form>
    </div>
    <div class="filler1"></div>
</div>

</body>
</html>