<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show text</title>
    <style>
        .body {
            background-color: yellow;
            background-blend-mode: hard-light;
        }

        .header {
            background-color: cyan;
            display: flex;
            justify-content: space-between;
            border-style: groove;
            border-radius: 16px;
            text-align: center;
        }

        .hello {
            color: black;
            padding: 10px 0 10px 10px;
        }

        .logout {
            padding: 10px 10px 10px 0;
            text-align: center;
            vertical-align: center;
        }

        .content {
            padding: 10px;
            display: flex;
            height: 500px;
        }

        .form_div {
            float: left;
            width: 70%;
            padding-right: 20px;
            height: 100%;
        }

        .form_c {
            height: 100%;
            width: 100%;
        }

        .text_area {
            width: 100%;
            height: 100%;
            background-color: cyan;
            color: red
        }

        .history {
            float: left;
            flex: 30%;
            padding-bottom: 20px;
            height: 500px;
        }

        .history_container {
            background-color: cyan;
            padding-bottom: 2px;
            border-style: groove;
            width: inherit;
            height: inherit;
            overflow-y: auto;
        }
    </style>
</head>
<body class="body">
<div class="header" style="">
    <div class="hello"><p>
        {% if name %}
            Hello {{ name }}
        {% else %}
            Hello
        {% endif %}
    </p></div>
    <div class="logout">
        {% if name %}
            <p><input type="button" onclick="location.href='/logout';" value="logout"/></p>
        {% endif %}
    </div>
</div>
<div class="content">
    <div class="form_div">
        <div class="form_c">
            <label>{{ author }} posted:</label> <br>
            <label>
                <textarea class="text_area" readonly>{{ content }}</textarea>
            </label>
            <br>
            {% if owner %}
            <form action="/delete_text/{{ content_id }}" method="post">
                <input type="submit" name="delete" value="delete"/>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="history">
        <label>history:</label>
        <div class="history_container">
            {% for item in history %}
                <p><a href="{{ item[1] }}">{{ item[0][1:] }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>


</body>
</html>