<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'work_system/main.css' %}">
    {#    <link rel="stylesheet" href="../static/work_system/main.css">#}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>detail</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <div class="col-sm-12">
                    {% if not user.isEmployee %}
                        <form action="{% url 'work_system:reserve_task' task.pk %}" method="get">
                            {% csrf_token %}
                            <h3 style="display: inline-block">{{ task.title }}</h3>
                            <button type="submit" class="btn btn-default">انجام می‌دم</button>
                        </form>
                    {% endif %}
                    <a class=""></a>
                    <hr/>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">ساخته شده در {{ task.dateCreated }}</div>
                <div class="col-sm-3">{{ task.value }} تومان</div>
                <div class="col-sm-3">{{ task.timeEstimation }}</div>
                <div class="col-sm-12">
                    <br/>
                    توضیحات:
                    <br/>
                    {{ task.description }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% if user.is_authenticated %}
                <h5> شما با نام کاربری {{ user.get_username }} وارد شده‌اید. </h5>
                <a class="btn btn-default btn-block" href="{% url 'work_system:home' %}">صفحه‌ی اصلی</a>
                <a class="btn btn-default btn-block" href="{% url 'work_system:logout' %}">خروج</a>
            {% else %}
                <a class="btn btn-default btn-block" href="{% url 'work_system:home' %}">صفحه‌ی اصلی</a>
            {% endif %}
        </div>
    </div>
    <footer>
        <hr/>
        <span>درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
