<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'work_system/main.css' %}">
    {#    <link rel="stylesheet" href="../static/work_system/main.css">#}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>عنوان کار</th>
                    <th>ارزش کار</th>
                    <th>تخمین زمانی</th>
                    <th>صاحب کار</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>
                {% for task in page_obj %}
                    <tr>
                        <td class="table_element">{{ task.title }}</td>
                        <td class="table_element">{{ task.value|stringformat:'i تومان' }}</td>
                        <td class="table_element">{{ task.timeEstimation }}</td>
                        <td class="table_element">{{ task.employer }}</td>
                        <td class="table_element"><a href="{% url 'work_system:task_detail' task.id %}">detail</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="tasks-paginator">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1">1</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"> >> </a></li>
                    {% endif %}
                    <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"> << </a></li>
                        <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            {% if user.is_authenticated %}
                <h3> شما با نام کاربری {{ user.get_username }} وارد شده‌اید. </h3>
                {% if user.isEmployee %}
                    <form action="{% url 'work_system:create_task' %}" method="get">
                        <button type="submit" class="btn btn-default btn-block">اضافه کردن کار</button>
                    </form>
                {% endif %}
                <form action="{% url 'work_system:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-block">خروج</button>
                </form>
            {% else %}
                <h3> ورود </h3>
                <form action="{% url 'work_system:email_login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label style="width: 100%">
                            <input type="email" class="form-control" name="email" placeholder="ایمیل">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">ورود</button>
                </form>
                <hr/>
                {% if signup_form.non_field_errors %}
                    <h3>{{ signup_form.non_field_errors }}</h3>
                {% else %}
                    <h3>ثبت نام</h3>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ signup_form.username.errors }}
                        <label style="width: 100%">
                            <input name="username" maxlength="100" class="form-control" placeholder="نام‌کاربری">
                        </label>
                    </div>
                    <div class="form-group">
                        {{ signup_form.email.errors }}
                        <label style="width: 100%">
                            <input name="email" class="form-control" placeholder="ایمیل" type="email">
                        </label>
                    </div>
                    <div class="form-group">
                        {{ signup_form.password.errors }}
                        <label style="width: 100%">
                            <input name="password" class="form-control" placeholder="رمزعبور" type="password">
                        </label>
                    </div>
                    <div class="form-group">
                        {{ signup_form.password_rpt.errors }}
                        <label style="width: 100%">
                            <input name="password_rpt" class="form-control" placeholder="تکرار رمز عبور"
                                   type="password">
                        </label>
                    </div>
                    <div class="form-group">
                        {{ signup_form.isEmployee.errors }}
                        <label><input name="isEmployee" type="checkbox">کارفرما</label>
                    </div>
                    <button class="btn btn-default btn-block">ثبت نام</button>
                </form>
            {% endif %}
        </div>
    </div>
    <footer>
        <hr/>
        <span> درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
