<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'work_system/main.css' %}">
    {#    <link rel="stylesheet" href="../static/work_system/main.css">#}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>new task</title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <h3> افزودن کار جدید </h3>
                {% if form.non_field_errors %}
                    <h3>{{ form.non_field_errors }}</h3>
                {% endif %}
                <form action="{% url 'work_system:create_task' %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        {{ form.title.errors }}
                        <div class="col-sm-6">
                            <input name="title" class="form-control" maxlength="250">
                        </div>
                        <label class="control-label col-sm-2" for="title">عنوان</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        {{ form.description.errors }}
                        <div class="col-sm-6">
                            <textarea name="description" class="form-control" cols="40" rows="10"></textarea>
                        </div>
                        <label class="control-label col-sm-2" for="title">توضیحات</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        {{ form.value.errors }}
                        <div class="col-sm-6">
                            <input name="value" class="form-control" type="number">
                        </div>
                        <label class="control-label col-sm-2" for="title">قیمت</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        {{ form.timeEstimationDay.errors }}
                        <div class="col-sm-6">
                            <input name="timeEstimationDay" class="form-control" type="number">
                        </div>
                        <label class="control-label col-sm-2" for="title">روز زمان تخمینی</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        {{ form.timeEstimationHour.errors }}
                        <div class="col-sm-6">
                            <input name="timeEstimationHour" class="form-control" type="number">
                        </div>
                        <label class="control-label col-sm-2" for="title">ساعت زمان تخمینی</label>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block">افزودن کار</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            {% if user.is_authenticated %}
                <h5> شما با نام کاربری {{ user.get_username }} وارد شده‌اید. </h5>
                <a class="btn btn-default btn-block" href="{% url 'work_system:home' %}">صفحه‌ی اصلی</a>
                <a class="btn btn-default btn-block" href="{% url 'work_system:logout' %}">خروج</a>
            {% else %}
                <a class="btn btn-default btn-block" href="{% url 'work_system:home' %}">صفحه‌ی اصلی</a>
            {% endif %}
        </div>
    </div>
    <footer>
        <hr/>
        <span> درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>