<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>message</title>
</head>
<body>
<div style="
width: 100%;
text-align: center;
padding-top: 200px;
font-size: large;
"
dir="rtl">
    لینک لاگین به ایمیل شما به آدرس {{ email }} ارسال شد.
</div>
<div style="
width: 100%;
padding-top: 15px;
text-align: center;
font-size: large;
"
dir="rtl">
    <a href="{% url 'work_system:home' %}">
        صفحه‌ی اصلی
    </a>
</div>
</body>
</html>